name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 1 * * *'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PHP_VERSION: "8.3"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Base Image
        uses: docker/build-push-action@v4
        with:
          context: .
          target: base
          push: true
          build-args: PHP_VERSION=${{ env.PHP_VERSION }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.PHP_VERSION }}

      - name: Build Full Image
        uses: docker/build-push-action@v4
        with:
          context: .
          target: full
          push: true
          build-args: PHP_VERSION=${{ env.PHP_VERSION }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-imagick-exiftool:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-imagick-exiftool:${{ env.PHP_VERSION }}
