name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 1 * * *'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PHP_VERSIONS: '["8.5", "8.4", "8.3", "8.2"]'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        php: ${{ fromJson(env.PHP_VERSIONS) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Base Image
        uses: docker/build-push-action@v4
        with:
          context: .
          target: base
          push: true
          build-args: PHP_VERSION=${{ matrix.php }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.php }}
            ${{ matrix.php == fromJson(env.PHP_VERSIONS)[0] && format('{0}/{1}:latest', env.REGISTRY, env.IMAGE_NAME) || '' }}

      - name: Build Full Image
        uses: docker/build-push-action@v4
        with:
          context: .
          target: full
          push: true
          build-args: PHP_VERSION=${{ matrix.php }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-imagick-exiftool:${{ matrix.php }}
            ${{ matrix.php == fromJson(env.PHP_VERSIONS)[0] && format('{0}/{1}-imagick-exiftool:latest', env.REGISTRY, env.IMAGE_NAME) || '' }}